/*------------------------------------------------------------*/
/* 初期設定 */
/*------------------------------------------------------------*/
*{
	margin:0; padding:0;	/* 全要素のmargin・paddingをリセット */
	line-height:1.5;		/* 全要素の行の高さを1.5倍にする */
	font-family: "Hiragino Maru Gothic ProN", Meiryo, fantasy;
}

body{
	background-color:#eeeeee;
	color:#000000;
	text-align:center;		/* IE6以下でセンタリングするための対策 */
}

a{
	text-decoration: none;	/* リンク下ライン削除 */
}
a:link,a:visited,a:active {
	color: #6699ff;			/* 未訪問色 */
}
a:hover {
	color: red;			/* マウスオーバー */
}

/* リストタグmargin */
ul{
	margin-left:20px;		/* 【変更不可】 */
}

div,p{
	padding: 0px;
	margin: 0px;
}

p{
	text-align:left;
}

hr{
	border:#aaaaaa 2px dotted;
	margin-top:20px;
	margin-bottom:20px;
}
/*------------------------------------------------------------*/
/* 汎用設定 */
/*------------------------------------------------------------*/
/* 指定した範囲を左側に表示して右側に回り込む */
.f-left{
	float:left;			/* 【変更不可】左側表示 */
}

/* 指定した範囲を→側に表示して左側に回り込む */
.f-right{
	float:right;			/* 【変更不可】左側表示 */
}

/* 回り込み解除 */
.f-none{
	float:none;			/* 【変更不可】左側表示 */
}

/* 表示を左側に */
.posi-left{
	min-height:15px;
	margin: 0px auto 0px 0px;
	text-align:left;		/* 【変更不可】左側表示 */
}

/* 表示を右側に */
.posi-right{
	min-height:15px;
	margin: 0px 0px 0px auto;
	text-align:right;		/* 【変更不可】左側表示 */
}

/* 表示を真ん中 */
.posi-center{
	min-height:15px;
	margin-left:auto;margin-right:auto;
	text-align:center;		/* 【変更不可】左側表示 */

}

#main > table{
	min-height:15px;
	margin-left:auto;margin-right:auto;
	text-align:center;
}

#main > table td{
	text-align:left;
}

.ver-top{
	height:100%;
	vertical-align: top;
}
.ver-bottom{
	height:100%;
	vertical-align: bottom;
}
/*------------------------------------------------------------*/
/* ヘッダーとフッダーとワッパー */
/*------------------------------------------------------------*/
/* 横幅設定 */
#basesize{
	width:100%;
	max-height:1000000%;
	min-height:100%;
}

/* ヘッダー */
#header{
	z-index: 5;
	background-color:#333333;
	color:#ffffff;
	width:100%;
	height: 70px;
	position: relative;
	position:fixed;
	top:0;
	left:0;
	font-size: 30px;
	padding-top:5px;
	padding-left:20px;
	text-align:left;
}

#header > div.left-text{
	z-index: 6;
	position:fixed;
	left:137px;
	top:15px;
	font-size: 12px;
}


#header > div.right-text{
	z-index: 6;
	position:fixed;
	right:15px;
	top:15px;
	font-size: 16px;
}

#header > a, #header > div.right-text a {
	color: #eeeeee;
}

/* フッター*/
#footer{
	z-index: 4;
	padding:10px;
	bottom:10px;
	right:30px;
	position:fixed;
	text-align:right;					/*【変更不可】左側表示*/
	border:1px solid #000000;
	background:#333333;
	color:#ffffff;
	font-size:12pt;
}

/* ワッパー */
#wrapper{
	padding:150px 0px 50px 0px;
	text-align:center;		/* IE6以下でセンタリングするための対策 */
}

#wrapper >#main{
	width:100%;
	z-index: 1;
	padding:0px auto;
}

#footer a {
	color:#ffffff;
}

/*------------------------------------------------------------*/
/* プルダウン見出し */
/*------------------------------------------------------------*/
/* wrapper*/
hr.category-line{
	margin:0px;
    height: 6px;
    background: #bbb;
    background-image: -webkit-linear-gradient(left, #000, #bbb, #000, #bbb, #000);
    background-image:    -moz-linear-gradient(left, #000, #bbb, #000, #bbb, #000);
    background-image:     -ms-linear-gradient(left, #000, #bbb, #000, #bbb, #000);
    background-image:      -o-linear-gradient(left, #000, #bbb, #000, #bbb, #000);
	border:0px;

}

/* wrapper*/
.base-menu{
	z-index: 4;
	margin:0 auto;
	padding:0;
	background:#aaaaaa;
	position:fixed;
	width:100%;
	top:75px;
}

.category{
	z-index: 4;
	margin:0 auto;
	padding:0;
	background:#CCC;
	position:fixed;
	width:100%;
	height:47px;
	top:75px;
}
/* 1.全体設定 */
#cssmenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #CCC;
}

/* 2.メインメニュー設定 */
#cssmenu li {
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	border-right:#eeeeee solid 1px;

}
/* 3.装飾 */
#cssmenu li a {
	margin: 0;
	padding: 10px;
	display: block;
	width: 150px;
	background-color: #ddd;
	font-size: 14px;
	color: #000;
	text-decoration: none;
}
/* 4.マウスオーバー設定 */
#cssmenu li a:hover {
	background-color: #999;
}
/* 5.サブメニュー設定 */
#cssmenu li ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	display: none;/* デフォルト非表示*/
}
/* 6.サブメニューの表示*/
#cssmenu li:hover ul {
	display: block;
}
/*------------------------------------------------------------*/
/* 見出し関連 */
/*------------------------------------------------------------*/
h1,h2,h4,h5,h6{
	text-align: left;
	float:none;							/* 【変更不可】回り込み解除 */
	clear:both;							/* 【変更不可】回り込み解除 */
}

h1{
	color:ff0000;
	padding:5px 0px 5px 0px;
	font-size: 24px;
	letter-spacing:5px;
	text-shadow:
	  1px 1px 0px #ffffff,
	  2px 2px 0px #ff0000;
}

h2{
	color:#0000ff;
	padding:10px 0px 10px 0px;
	font-size: 20px;
	letter-spacing:5px;
	text-shadow:
	  1px 1px 0px #ffffff,
	  2px 2px 0px #0000ff;
}

h3{
	float:none;							/* 【変更不可】回り込み解除 */
	clear:both;							/* 【変更不可】回り込み解除 */
	width:100%;
    margin: 10px 0px 30px 0px;
    background: #B92A2C;
	font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

#main h3 a {
	color: #ffffff;
}

h4{
	padding:5px 0px 5px 0px;
	font-size: 16px;
	letter-spacing:5px;
	text-shadow:
	  1px 1px 0px #eee,
	  2px 2px 0px #999999;
}

h6{
	padding:5px 0px 5px 0px;
	font-size: 14px;
	letter-spacing:1px;
	text-shadow:
	  1px 1px 0px #eee,
	  2px 2px 0px #999999;
}
/*------------------------------------------------------------*/
/* table */
/*------------------------------------------------------------*/


table{
	border:0px solid #666666;
}


th{
	background-color:#888888;
	color:#ffffff;
}

th.id{
	width:100px;
}

th.pw{
	width:150px;
}

th.title{
	width:300px;
}

th.report{
	width:120px;
}

th.photo{
	width:100px;
}

th.delete{
	width:80px;

}


table.admin{
	width:1030px;
}


table.admin-mini{
	width:530px;
}

table.rank{
	border:1px solid #000000;
	background-color:#ffffff;
}
td.delete{
	border:0px;
}
.posi-center{
	text-align:center;
	display:table;
}
td.img {
   	width: 100px;
    height:100px;
}

/*------------------------------------------------------------*/
/* input */
/*------------------------------------------------------------*/

input,select,textarea{
	float:left;
	text-align:left;
	font-size:12px;
	border:1px #666666 solid;
	background-color: #ffffff;		/* 線 [太さ 種類 色] */
	padding:5px;
	margin:10px auto 10px 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input[type="checkbox"]{
	margin-left:12px;
}

input:disabled,select:disabled,textarea:disabled{
	background-color: #cccccc;
}

input,select{
	width:250px;					/* 横 [幅] */
}

textarea{
	width:600px;						/* 横 [幅] */
	height:50px;					/* 縦 [幅] */
}
/*投稿詳細用テキストエリア*/
textarea.ins{
	height:150px;					/* 縦 [幅] */
}

input.button{
	text-align:center;				/* 表示位置 [真ん中] */
	width:80px;						/* 横 [幅] */
	/*↓背景グラデーションの指定です*/
	background: -moz-linear-gradient(top, #af5757, #5e0000 50%, #af5757);
	background: -webkit-linear-gradient(top, #af5757, #5e0000 50%, #af5757);
	background: linear-gradient(#af5757, #5e0000 50%, #af5757);
	color:#ffffff;
}

li > input{
	width:20%;
}

h6 ~ input.button{
	margin-bottom:0px;
}

.search-box{
	border:0px;
	width:130px;						/* 横 [幅] */
	background-color: #cccccc;
}

/*ラジオボタンサイズ変更*/
input.radio{
	width:10px;					/* 横 [幅] */
	float:none;
}

input.check{
	vartical-align:0.5em;
}


/*------------------------------------------------------------*/
/* width変更 */
/*------------------------------------------------------------*/

.size-s{
	width:50px;						/* 横 [幅] */
}
.size-m{
	width:70px;						/* 横 [幅] */
}
.size-l{
	width:350px;					/* 横 [幅] */
}


img {
    max-width: 400px;
    height: auto;
}

/*ロゴ画像サイズ*/
.logo{
	width:auto;
	height:70px;
}

/*画像などの表示最大サイズ*/
.thumbnail{
    width: 210px;
    height: 210px;
}

/*画像などの表示最大サイズ*/
img.cateimg{
    width: 160px;
    height: 160px;
}

/*画像などの表示最大サイズ*/
img.cateimg170{
    width: 170px;
    height: 170px;
}

/*画像などの表示最大サイズ*/
.thumbnail-mini{
    width: 90px;
    height: 90px;
}

/*画像などの表示最大サイズ*/
.admiimg{
    width: 60px;
    height: 60px;
}